# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/XASM/XASM.sdf
/XASM/Debug
/XASM/XASM/Debug
/XC/XC.sdf
/XC/Debug
/XC/XC/Debug
/XVM/XVM.sdf
/XVM/Debug
/XVM/XVM/Debug
/XASM/ipch
build
/XASM/src/GRTAGS
/XASM/src/GTAGS
/XASM/src/GPATH
/XASM/src/.ycm_extra_conf.py
/XASM/src/.ycm_extra_conf.pyc
/XASM/test/GRTAGS
/XASM/test/GTAGS
/XASM/test/GPATH
/XASM/test/.ycm_extra_conf.py
/XASM/test/.ycm_extra_conf.pyc
